PORT=3005
DEEPSEEK_API_KEY=
EMBEDDING_API_KEY=

# Redis Configuration for BullMQ
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Database
DATABASE_TYPE=sqlite
# DATABASE_TYPE=postgres

DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=meridian

COMPOSE_PROFILE=local
