PORT=3005
DEEPSEEK_API_KEY=
EMBEDDING_API_KEY=

# Redis Configuration for BullMQ
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Database
DATABASE_TYPE=sqlite
# DATABASE_TYPE=postgres

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=meridian

COMPOSE_PROFILE=local

# Email
EMAIL_PROVIDER=mailgun # or choose any other mail provider and implement it
EMAIL_FROM=

# Email provider
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
